@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
html {
	height: 100%;
	background: #68ce72;
	background: -webkit-linear-gradient(to bottom, #213822, #68ce72);
	background: linear-gradient(to bottom, #213822, #68ce72);
}

.login-block {
	float:left;
	width:100%;
	padding : 50px 0;
}

.banner-sec {
	background: url(../resources/images/monitoria-banner.jpg)no-repeat left bottom; 
	background-size:cover;
	min-height:500px; 
	border-radius: 0 10px 10px 0; 
	padding:0;
}

.container {
	background:#fff; 
	border-radius: 10px; 
	box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.login-sec {
	padding: 50px 30px; 
	position:relative;
}

.login-sec .copy-text {
	position:absolute; 
	width:80%; 
	bottom:20px; 
	font-size:13px; 
	text-align:center;
}

.login-sec h2 {
	margin-bottom:30px; 
	font-weight:800; 
	font-size:30px; 
	color: #213822;
}

.login-sec h2:after {
	content:" "; 
	width:100px; 
	height:5px; 
	background:#68ce72; 
	display:block; 
	margin-top:20px; 
	border-radius:3px; 
	margin-left:auto;
	margin-right:auto
}

.btn-login {
	background: #DE6262; 
	color:#fff;
	font-weight:600;
}

.customGPlusSignIn {
	border: 1px solid;
}

#customBtn {
	display: inline-block;
	background: white;
	color: #444;
	width: 100%;
	white-space: nowrap;
}

#customBtn:hover {
	cursor: pointer;
	background: rgb(223, 218, 218);
}

span.label {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color:  #444;
}

span.icon {
	background: url('../resources/images/g-normal.png') transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-left: 42px;
	padding-right: 42px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}