.navbar-default {
    background-color: #7ad583;
    border-color: #3ba832;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #f8f8f8;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #f8f8f8;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #f8f8f8;
    background-color: #3ba832;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #f8f8f8;
    background-color: #3ba832;
  }
  .navbar-default .navbar-toggle {
    border-color: #3ba832;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #3ba832;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #f8f8f8;
  }
  .navbar-default {
    border: 0px;
    border-radius: 0px
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #f8f8f8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #f8f8f8;
      background-color: #3ba832;
    }
  }