.detail-text {
  color: white;
  margin-top: 8px;
  margin-right: 1rem;
}

.navbar {
    background-color: #000000;
  }
  .navbar .navbar-brand {
    color: #d1d1d1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #faf9fa;
  }
  .navbar .navbar-text {
    color: #d1d1d1;
  }
  .navbar .navbar-text a {
    color: #faf9fa;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #faf9fa; 
  }
  .navbar .navbar-nav .nav-link {
    color: #d1d1d1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #faf9fa;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #000000;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #d1d1d1;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #faf9fa;
    background-color: #28a745;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #28a745;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #faf9fa;
    background-color: #28a745;
  }
  .navbar .navbar-toggle {
    border-color: #28a745;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #28a745;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #d1d1d1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #d1d1d1;
  }
  .navbar .navbar-link {
    color: #d1d1d1;
  }
  .navbar .navbar-link:hover {
    color: #faf9fa;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d1d1d1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #faf9fa;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #faf9fa;
      background-color: #28a745;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d1d1d1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #faf9fa;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #faf9fa;
      background-color: #28a745;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d1d1d1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #faf9fa;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #faf9fa;
      background-color: #28a745;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d1d1d1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #faf9fa;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #faf9fa;
      background-color: #28a745;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d1d1d1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #faf9fa;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #faf9fa;
    background-color: #28a745;
  }

  .navbar-brand {
    padding-top: 0px !important;
  }

  .custom-toggler.navbar-toggler {
      border-color: #28a745;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,128,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

