.login-panel {
	margin-top: 100px;
}

.login-footer {
	 border-top: 1px solid#888;
	 padding-top:15px;
	 font-size:85%
}

.panel {
	box-shadow: 4px 4px 4px #178425;
}

.panel-heading {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.panel-body {
	padding-top: 15px;
}

.input-group {
	margin-bottom: 25px;
}

.rounded {
	border-radius: 15px;
}
