<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>monitoria</display-name>
	<welcome-file-list>
		<welcome-file>welcome.xhtml</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>gemRealm</realm-name>
		<form-login-config>
			<form-login-page>/publico/index.xhtml</form-login-page>
			<form-error-page>/publico/index.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>aluno</role-name>
	</security-role>
	<security-role>
		<role-name>comissao</role-name>
	</security-role>
	<security-role>
		<role-name>professor</role-name>
	</security-role>

	<security-constraint>
		<display-name>Pg Comissao</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Comissao Area</web-resource-name>
			<description>Protected Comissao Area</description>
			<url-pattern>/admin/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>comissao</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Pg Aluno</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Aluno Area</web-resource-name>
			<description>Protected Aluno Area</description>
			<url-pattern>/aluno/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>aluno</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Pg Professor</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Professor Area</web-resource-name>
			<description>Protected Professor Area</description>
			<url-pattern>/professor/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>professor</role-name>
			<role-name>comissao</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Pg Comum</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Comum Area</web-resource-name>
			<description>Protected Comum Area</description>
			<url-pattern>/comum/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>aluno</role-name>
			<role-name>professor</role-name>
			<role-name>comissao</role-name>
		</auth-constraint>
	</security-constraint>

	<error-page>
		<error-code>403</error-code>
		<location>/publico/nao-autorizado.xhtml</location>
	</error-page>

	<context-param>
		<param-name>javax.faces.webapp.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>dominiosInstituncionais</param-name>
		<param-value>a.recife.ifpe.edu.br;cabo.ifpe.edu.br;</param-value>
	</context-param>
	<context-param>
		<param-name>dominiosAlunos</param-name>
		<param-value>gmail.com;</param-value>
	</context-param>

	<context-param>
		<param-name>CAPTCHA_URL</param-name>
		<param-value>
			https://www.google.com/recaptcha/api/siteverify
		</param-value>
	</context-param>
	<context-param>
		<param-name>PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6LcwZFgUAAAAAF6NYTrBjgJlisQVeWzlTSgDY4vH</param-value>
	</context-param>
	<context-param>
		<param-name>PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6LcwZFgUAAAAAGx2Lwens72Yd4yREx5CZGMJN1GW</param-value>
	</context-param>
	
	<context-param>
        <param-name>
            javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE
        </param-name>
        <param-value>true</param-value>
    </context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>br.edu.ifpe.monitoria.services</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
</web-app>