td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

th {
    text-align: center;
}

.err-m-10 {
    margin: 10px;
}

.gem-disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #ccd5d5;
}